body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

h2, h3 {
    margin-top: 20px;
}
